<%= simple_form_for(@party) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :starts_at %>
    <%= f.input :openbar %>
    <%= f.input :dress_code %>
    <%= f.input :string %>
    <%= f.input :description %>
    <%= f.input :disco_tweet %>
    <%= f.input :photo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
