<%= form_for(Group.new, url:'groups/createAjax.js', :html => {:class => "form-inline"}, remote: true ) do |f| %>
  <div class="field from-group">
    <%= f.label :'nuevo grupo'%>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.hidden_field(:last_id, :value => @lastOnList.id)%>
    <%= f.submit class:'btn btn-primary'%>
  </div>
<% end %>

