
<div class="row"><div class="col-md-7"><h4><%= render 'buscador' %></h4></div>
  <div class="col-md-5"><h4><%= render 'formAjax' %></h4></div>
</div>

<table id="groups" class = "table gittable-bordered table-hover table-condensed">
  <thead>
    <tr class = "info">
      <th>Name</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @groups %>
  </tbody>
</table>

<%= will_paginate @groups %>
<br>

<h1>Listing Deleted Groups</h1>
<table class = "table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr class = "info">
      <th>Name</th>
      <th colspan="4">Action</th>
    </tr>
  </thead>
  <tbody>
<%= render partial: "deletedGroup", collection: @deletedGroups %>
    </tbody>
</table>


<script type="text/javascript">
$("#groups tbody").sortable().disableSelection();
</script>
