<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field from-user">
  <%= f.label :name, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>
<div class="actions form-user">
  <div class="col-sm-offset-10 col-sm-10">
    <%= f.submit %>
  </div>
  <% end %>

