<div class="well">
	<div class="list-group">
		<a href="#" class="list-group-item active">
			<h4 class="list-group-item-heading"><%= post.title %><small></small></h4>
			<p class="list-group-item-text"><%= post.content %></p>	
		</a></br>
		<%= "Creado: "+post.created_at.to_s + " Por: " + post.user.to_s %></br>
		<%= "Actualizado: "+post.updated_at.to_s + " Por: " %></br>
		<%= link_to("Edit",edit_post_path(post), remote: true) %>
		<%= link_to "Delete",post, remote: true, method: :delete, data: { confirm: 'Are you sure?'} %></br>
	</div>	
	<h4>Comentarios</h4>
	<div class="row">
		<div class="col-md-6 col-md-offset-2" id="comment-form-<%= post.id %>" style="display:none"></div>
	</div>
	<ul class="list-group">
		<%= render :partial => "comments/commentsByPosts", object: post, as: :post%>
	</ul>
	<%= render :partial => "comments/form", object: post.comments.build, as: :comment %>
</div>




