<!DOCTYPE html>
<html>
<head>
	<title><%= @controllerName %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">My Fisrt Rails App</h3>
						<nav>
							<ul class="nav masthead-nav">
								<li><a href="#">Home</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<h1 class="cover-heading">Log In.</h1>
				<%= yield %>
				</div>
				<div class="mastfoot">
					<div class="inner">
						<p>BootCamp 2015 <a href="http://www.desafiolatam.com/">Bootstrap</a>, by <a href="http://www.sbstn-jmnz.cl">@Sbstn</a>.</p>
					</div>
				</div>
			</div>
		</div>
</div>
</body>
</html>
